# Read arff file and alter it

We did it the other way around already, now we look at the opposite.

In [7]:
import arff
import pandas as pd

In [2]:
filename = '../data/step-01/iris.arff'

In [9]:
with open(filename, 'r') as f:
    af = arff.load(f, encode_nominal=True)

In [10]:
pd.DataFrame(af['data'])

       0    1    2    3  4
0    5.1  3.5  1.4  0.2  0
1    4.9  3.0  1.4  0.2  0
2    4.7  3.2  1.3  0.2  0
3    4.6  3.1  1.5  0.2  0
4    5.0  3.6  1.4  0.2  0
..   ...  ...  ...  ... ..
145  6.7  3.0  5.2  2.3  2
146  6.3  2.5  5.0  1.9  2
147  6.5  3.0  5.2  2.0  2
148  6.2  3.4  5.4  2.3  2
149  5.9  3.0  5.1  1.8  2

[150 rows x 5 columns]